<link rel="stylesheet" href="css/posts/onlyCaption.css" />

<div id="post-<%=id%>" class="post">
  <%- include('./postTop', {username: username, profileImage: profileImage, by:
  by, id: id, name: name, selfID: selfID}) %>

  <div class="caption-only-post-caption">
    <p id="onlyCaption_<%=id%>">
      <% var caption = caption; %> <% var splitCaption = caption.split(" ");%>
      <%caption = ``;%> <% for (let index = 0; index < splitCaption.length;
      index++) { if (index === 51) {%> <%caption += splitCaption[index] + `
      <span
        id="only_caption_dots_` + id + `"
        onclick="toggleCaption(this.id)"
        class="toggler"
        >...read more</span
      >
      <span id="only_caption_more_` + id + `" class="more"
        >`; %> <% } else { %><% caption += splitCaption[index] + " ";%><% } } if
        (splitCaption.length > 51) { %><% caption += `
      </span>
      <br />
      <span
        id="only_caption_less_` + id + `"
        onclick="toggleCaption(this.id)"
        class="more less"
        >show less</span
      >
      `; } %>

      <script>
        document.getElementById("onlyCaption_<%=id%>").insertAdjacentHTML(
          "beforeend",
          `<%= caption %>`
            .replace(
              /(https?:\/\/[^\s]+)/g,
              '<a target="_blank" class="caption-link" href="$1">$1</a>'
            )
            .replaceAll(`&gt;`, ">")
            .replaceAll("&lt;", "<")
            .replaceAll("&#34;", `"`)
        );
      </script>
    </p>
  </div>

  <%- include('./postBottom', {id: id, userID: userID, selfID: selfID}) %>
</div>
